<div class="rolling-text-container" [class.show]="showText">
   
  <p><strong>Net Total: ${{ netTotal | number: '1.2-2' }} </strong></p>&nbsp;&nbsp;&nbsp;
  <p><strong>Total % Returns: {{ netPercentageReturn | number: '1.2-2' }} % </strong></p>&nbsp;&nbsp;&nbsp;
 <div *ngIf="(portfolioData$ | async) as portfolioData">
  <p class="total-return" *ngIf="portfolioData.length > 0">
    <!-- <strong>Net Total: ${{ loginResponse ? loginResponse.cash : cash }} </strong>&nbsp;&nbsp;&nbsp; -->
    <strong>Stock Returns ($): 
    <span [ngClass]="{ 'red': calculateTotalReturn(portfolioData) < 0, 'green': calculateTotalReturn(portfolioData) > 0 }">
      <ng-container *ngIf="calculateTotalReturn(portfolioData) > 0">&#9650;</ng-container>
      <ng-container *ngIf="calculateTotalReturn(portfolioData) < 0">&#9660;</ng-container>
      {{ calculateTotalReturn(portfolioData) | number: '1.2-2' }} {{portfolioData[0].currency}}
    </span></strong>

    &nbsp;&nbsp;&nbsp; <strong>Stock Returns (%): 
    <span [ngClass]="{ 'red': calculateTotalPercentageReturn(portfolioData) < 0, 'green': calculateTotalPercentageReturn(portfolioData) > 0 }">
      <ng-container *ngIf="calculateTotalPercentageReturn(portfolioData) > 0">&#9650;</ng-container>
      <ng-container *ngIf="calculateTotalPercentageReturn(portfolioData) < 0">&#9660;</ng-container>
      {{ calculateTotalPercentageReturn(portfolioData) | number: '1.2-2' }} %
    </span> </strong>
  </p>
</div>
</div>

<div class = "container-fluid">
  <p>Welcome, {{ username }}!</p>

  <div>
    <!-- <p>Cash balance: ${{ loginResponse ? loginResponse.cash : cash }}</p> -->
    <p>Cash balance: ${{ cashBalance }}</p>
</div>
  

<app-portfolio-chart [portfolioData$]="portfolioData$" 
                      [cashBalance]="cashBalance" [stocksValue]="(netTotal==cashBalance)? 0: netTotal-cashBalance">
</app-portfolio-chart>

  
<div class="container">
<!-- display all trades (combined) -->
    <div *ngIf="(portfolioData$ | async) as portfolioData">
      <div *ngIf="portfolioData.length > 0;else noPortfolioMessage" style="overflow-x:auto;">
        <p>Trades (combined)</p>
      <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Stock Name</th><th>Exchange</th>
              <th>Units</th><th>Avg Unit Price</th><th>Buy Total Price</th>
              <th>Unit Current Price</th><th>Total Current Price</th>
              <th>Total Return</th><th>% Change</th>
            </tr>
          </thead>
          <tbody *ngIf="portfolioData.length > 0">
            <!-- <tr *ngFor="let data of portfolioData; let i = index"> -->
              <ng-container *ngFor="let data of portfolioData; let i = index">
                <tr *ngIf="data.units !== 0">
              <td>{{i+1}}</td>
              <td class="stock-item" (click)="viewStock(data.symbol)">{{ data.stock_name }}</td><td>{{ data.exchange.toUpperCase()}}</td>
              <td>{{ data.units }}</td><td>{{ data.buy_unit_price | number: '1.2-3' }}</td>
              <td>{{data.currency}} {{ data.units*data.buy_unit_price | number: '1.2-2'}} </td><td>{{ data.unit_current_price | number: '1.2-2'}}</td>
              <td>{{ data.currency }} {{ data.unit_current_price*data.units | number: '1.2-2' }}</td>
              <td [ngClass]="{ 'red': data.total_return < 0, 
              'green': data.total_return > 0 }">
              <span class="arrow-up" *ngIf="data.total_return > 0"><strong> &nbsp;{{ data.total_return | number: '1.2-2'  }} {{ data.currency }}</strong></span>
              <span class="arrow-down" *ngIf="data.total_return < 0"><strong> &nbsp;{{ data.total_return | number: '1.2-2'  }} {{ data.currency }}</strong></span>
      
            </td>
    
              <td [ngClass]="{ 'red': data.total_percentage_change < 0, 
              'green': data.total_percentage_change > 0 }">
              <span class="arrow-up" *ngIf="data.total_percentage_change > 0"><strong> &nbsp;{{ data.total_percentage_change| number: '1.2-2'  }} %</strong></span>
              <span class="arrow-down" *ngIf="data.total_percentage_change < 0"><strong> &nbsp;{{ data.total_percentage_change | number: '1.2-2'  }} %</strong></span></td>
            
            </tr>
          </ng-container>
            <!-- </tr> -->
          </tbody>
        </table>
        </div>
        </div>
   

  </div>

<br><br>
<div class="horizontal-line"></div>
<br>
<div class ="container">
<div *ngIf="(allTradesData$ | async) as allTradesData" style="overflow-x:auto;">
  <div *ngIf="allTradesData.length > 0; else noPortfolioMessage">
    <p>Trades (History)</p>

    <table >
      <thead>
        <tr>
          <th>#</th><th>Date</th><th>Action</th><th>Exchange</th><th>Stock Name</th><th>Symbol</th>
          <th>Units</th><th>Unit Price</th><th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allTradesData.slice(0, showAllRowsToggle ? undefined : 5); let i = index">
        <!-- <tr *ngFor="let data of allTradesData; let i = index"> -->
          <td>{{ i + 1 }}</td>
          <td>{{ data.date}}</td>
          <td>{{ data.action}}</td>
          <td>{{ data.exchange.toUpperCase() }}</td>
          <td>{{ data.stockName }}</td>
          <td>{{ data.symbol }}</td>
          <td>{{ data.units }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.currency }} {{ data.total_price | number: '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
     <!-- Toggle button -->
     <button type="button" class="btn btn-link" (click)="showAllRowsToggle = !showAllRowsToggle">
      {{ showAllRowsToggle ? 'Minimize' : 'Show All Rows' }}
    </button>
  </div>
  </div>


  <br>
  
<br><br>
<!-- <app-research></app-research> -->

<br>


<ng-template #noPortfolioMessage>
    <p>No trades created.</p>
</ng-template>


