
<div class="container">

    <h1>TradeSims - Trading Simulator using real data</h1>
    <h2>Execute your trading strategies in a risk-free environment</h2>
    <br>
    <h2>Please Login</h2>

    <!-- <div *ngIf="(errorMessage$ | async) as errorMessage" class="error-message"> -->
        <p>{{errorMessage}}</p>
    <!-- </div> -->
    
    <form [formGroup]="loginForm" (submit)="login()">

    <table>
        <tr>
        <td>Email:&nbsp;&nbsp;</td>
        <td>
            <input type="email" size="30" formControlName="email" placeholder="Email">
            <span *ngIf="invalidField('email')" class="invalid-field">
                Please enter a valid Email
            </span>
        </td>
        </tr>
    <br>
        <tr>
        <td>Password:</td>
        <td>
            <div>
                <input type="password" size="30" formControlName="password" placeholder="Password">
              </div>
              <div>
                <span *ngIf="invalidField('password')" class="invalid-field">
                  Please enter a valid password. Password should have a minimum of 8 characters, including at least 1 special character and 1 letter.
                </span>
              </div>
        </td>
        </tr>
    <br>
        <tr>
        <td></td>
        <td>
            <button class="btn btn-danger" type="submit" [disabled]="loginForm.invalid">
            Login
            </button>
           
        </td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td><div *ngIf="isLoading" class="loader"></div></td>
        </tr>
 
       
    </table>

    </form>

</div>

