
<div class="container">
    <h1>Welcome to  <span class="brand-text-1">Trade</span><span class="brand-text-2">Sims</span>... Execute your trade ideas with confidence</h1>
    <!-- <p>TradeSims is a trading simulator where users are given a fictitious $1,000,000 to trade stocks in the US market.
        Users can track their portfolio performance and use charts with indicators to do technical analysis.
        Create an account or log in with the test account to try out TradeSims. 
    </p> -->

<div class="background-image"></div>
    
</div>
