<div class = "container-fluid">

  <h3>Stock Information</h3><br>

  <div class="container-fluid d-flex justify-content-center align-items-center">
    <app-research-chart></app-research-chart>
  </div>
  <br>
  

      <div class="container-fluid">
        <div *ngIf="(stock$ | async) as stock">
         
          <table class="table-color">
            <tr class="data-row">
              <td style="width: 10%;">Exchange</td><td style="width: 10%;">Symbol</td>
              <td style="width: 10%;">Name</td><td style="width: 10%;">Open</td>
              <td style="width: 10%;">High</td><td style="width: 10%;">Low</td><td style="width: 20%;">Close</td>
              <td>Prev. Close</td>
              <td style="width: 10%;">Vol.</td><td style="width: 20%;">Live Price</td>
              <td>Chg.</td>  <td>% Chg.</td><td>Actions</td>
            </tr>
            <tr class="data-row">
              <td style="width: 10%;" >{{ stock.exchange }}</td><td style="width: 10%;">{{ stock.symbol }}</td> 
              <td style="width: 10%;">{{ stock.name }}</td> <td style="width: 10%;">{{ stock.open }}</td>
              <td style="width: 10%;">{{ stock.high }}</td><td style="width: 10%;">{{ stock.low }}</td>
              <td style="width: 20%;">{{ stock.close }}</td><td>{{stock.previous_close}}</td><td>{{ stock.volume }}</td>
              <td>{{stock.real_time_price}}</td>
              <td>
                <span class="arrow-up" *ngIf="stock.change > 0">&#9650; &nbsp;+{{ stock.change }}</span>
                <span class="arrow-down" *ngIf="stock.change < 0">&#9660; &nbsp;{{ stock.change }}</span>
              </td>
              <td>
                <span class="arrow-up" *ngIf="stock.percent_change > 0">&#9650; &nbsp;+{{ stock.percent_change | number: '1.2-2' }}%</span>
                <span class="arrow-down" *ngIf="stock.percent_change < 0">&#9660; &nbsp;{{ stock.percent_change | number: '1.2-2' }}%</span>
              </td>
              <td><app-trade [stockName]="stock.name" [closePrice]="stock.close"
                [stockSymbol]="stock.symbol" [stockExchange]="stock.exchange"
                [currency]="stock.currency" [livePrice] = "stock.real_time_price"></app-trade></td>

            </tr>
   
        </table>
        <i>Data is accurate to 1 min.</i>

          
        </div>
      </div>
    </div>
    <br>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="container">
          <h3>Company Search</h3>
          <div>
            <div>
              <label for="filter">Search:&nbsp;</label>
              <input type="text" id="filter" size="20" placeholder="Company Name" (keyup)="filtering(inputFilter.value)" #inputFilter>
            </div>
            <div style="margin-top: 10px;">
              <label for="exchange">Exchange:&nbsp;</label>
              <select (change)="fetchExchange(exchange.value)" #exchange>
                <option value="nyse">NYSE</option>
                <option value="nasdaq">NASDAQ</option>
              </select>
            </div>
            <div style="margin-top: 10px;">
              <label for="perPage">Per page:&nbsp;</label>
              <select (change)="fetchChanges(perPage.value)" #perPage>
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
          <br>

     
           <div *ngIf="stockInfoList$ | async as stockslist; else blank" class="stock-list-container">
            <div *ngFor="let s of stockslist">
              <p (click)="getStockData(s.symbol)" class="stock-item">{{ s.name }} ({{ s.symbol }})</p>
            </div>
          </div>

          <br>
  

          <div style="margin-top: 10px;">
            <button type="button" class="btn btn-primary" (click)="page(-1)" [disabled]="!hasPreviousPage()">Prev</button>&nbsp;
            <button type="button" class="btn btn-primary" (click)="page(1)">Next</button>
          </div>
  
          <br>
  
          <ng-template #blank></ng-template> 

        </div>
      </div>


      <div class="col-md-9">
        <div class="container-fluid">
          <div *ngIf="(stockProfile$ | async) as stockProfile">
            <table>
              <tr>
                <h3>Stock Profile</h3>
              </tr>
              <tr>
                <td style="width: 60%; padding-right: 20px;">
                  <p><strong>Symbol:</strong> {{ stockProfile?.symbol }}</p>
                  <p><strong>Name:</strong> {{ stockProfile?.name }}</p>
                  <p><strong>Sector:</strong> {{ stockProfile?.sector }}</p>
                  <p><strong>Industry:</strong> {{ stockProfile?.industry }}</p>
                  <p><strong>CEO:</strong> {{ stockProfile?.ceo }}</p>
                  <p><strong>Employees:</strong> {{ stockProfile?.employees }}</p>
                  <p><strong>Website: </strong> <a href="{{ stockProfile?.website }}">{{ stockProfile?.website }}</a></p>
                </td>
            
                <td style="padding-left: 20px; padding-bottom:10px;">
                  <img [src]="stockProfile?.logoUrl" alt="Stock Logo" height="150" >
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <p><strong>Description:</strong> {{ stockProfile?.description }}</p>
              </tr>
            </table>
         
          </div>
        </div>
      </div>
    </div>


  </div>